<div class="d-flex flex-column">
    <PersonTemplate Account="Comment.Account"/>
    <MudTextField @bind-Value="Comment.Comment" Label='@Comment.CommentDate.ToString("MMMM dd, yyyy hh:ss tt")' Variant="Variant.Filled" Disabled="true" />
</div>
@code
{
    [Parameter] public CommentModel Comment { get; set; }
}