<div class="d-flex flex-row">
    @if (Account == null)
    {
        <MudAvatar Class='mt-4' Image="img/blank_profile.png" Size='Size.Medium' />
    } else {
        if(Account.ProfilePicture != null)
        {
            if (Account.ProfilePicture.Count() == 0) {
                <MudAvatar Class='mr-2' Image="img/blank_profile.png" Size='Size.Medium' />
            } else {
                <MudAvatar Class='mr-2' Image='@($"data:image/png;base64, {Convert.ToBase64String(Account.ProfilePicture)}")' Size='Size.Medium' />
            }
        } else {
            <MudAvatar Class='' Image="img/blank_profile.png" Size='Size.Medium' />
        }
    }
    <div class="d-flex flex-column">
        @if (Account != null)
        {
            <MudText Typo="Typo.body1">@Account.Name</MudText>
            <MudText Typo="Typo.subtitle1">@Extensions.GetEnumDescription(Account.AccountType)</MudText>
        }
    </div>
</div>

@code
{
    [Parameter] public UserAccountModel Account { get; set; } = new();

}
<style>
    .mud-typography
    {
        font-size: 14px;
    }
    .mud-avatar
    {
        cursor: pointer;
    }
</style>