@inject IGroupService GroupService
@inject ISnackbar Snackbar
@inject IMemberService MemberService
@inject IAccountService AccountService
@inject IPanelistService PanelistService

<MudDialog>
    <DialogContent>
        <MudGrid Spacing="3" Class="pa-3 mr-4">
            <MudItem xs="9">
                <MudText Typo="Typo.caption">Panels</MudText>
                    <BlazoredTypeahead Context="acc"  @bind-Value="@UserAccount" SearchMethod='LoadStudents' DisableClear placeholder='Panel'
                        Debounce="300">
                        <SelectedTemplate>
                            @(String.IsNullOrEmpty(acc.Name) == true ? "-" : acc.Name)
                        </SelectedTemplate>
                        <ResultTemplate>
                           <PersonTemplate Account="acc"/>
                        </ResultTemplate>
                    </BlazoredTypeahead>
            </MudItem>
            <MudItem xs="3" Class="d-flex justify-conten-center align-center mt-5">
                <MudButton OnClick="()=> Add(UserAccount)" StartIcon="@Icons.Material.Filled.Add" Variant="MudBlazor.Variant.Filled" Size="Size.Small"  Color="Color.Primary">ADD</MudButton>
            </MudItem>
            <MudItem xs="12">
                <span>Members</span>
            </MudItem>
            <MudItem xs="12">
                @if(Panels.Count > 0)
                {
                <MudStack>
                    @foreach(PanelistModel panel in Panels)
                    {
                        <MudPaper Class="pa-1 d-flex flex-row justify-content-between">
                            <PersonTemplate Account="panel.Panel"/>
                            <MudIconButton OnClick="()=> RemoveMember(panel)" Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
                        </MudPaper>
                    }
                </MudStack>
                } else {
                    <MudPaper Class="pa-1 d-flex justify-content-center align-center">
                        <span><b>NO PANELS</b></span>
                    </MudPaper>
                }
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Close</MudButton>
    </DialogActions>
</MudDialog>
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public int GroupId { get; set; }
    [Parameter] public ScheduleModel Schedule { get; set; }
    private UserAccountModel UserAccount = new();
    private List<PanelistModel> Panels = new();

    protected override async Task OnParametersSetAsync()
    {
        await GetPanels();
    }
    private async Task<IEnumerable<UserAccountModel>> LoadStudents(string sanc)
    {
        var students = await AccountService.GetAccountsNoStudents();
        return students.Where(e => e.Name.Contains(sanc, StringComparison.InvariantCultureIgnoreCase)).ToList();
    }
    private async Task RemoveMember(PanelistModel panel)
    {
        Task t = PanelistService.DeletePanelistModel(panel.PanelistId);
        await t;
        if(t.Status == TaskStatus.RanToCompletion)
        {
            await GetPanels();
        }
    }
    private async Task GetPanels()
    {
        Task<IEnumerable<PanelistModel>> p = PanelistService.GetPanelGroup(GroupId);
        await p;
        if(p.Status == TaskStatus.RanToCompletion)
        {
            Panels = p.Result.ToList().Where( e => e.ScheduleId == Schedule.ScheduleId).ToList();
        }
    }
    private async Task Add(UserAccountModel user)
    {
        if(Panels.Any( e => e.UserId == user.UserId))
        {
            Extensions.ShowAlert("Panel already exist.", MudBlazor.Variant.Filled, Snackbar, Severity.Error);
            UserAccount = new();
            return;
        }
        PanelistModel panel = new();
        panel.GroupId = GroupId;
        panel.UserId = user.UserId;
        panel.ScheduleId = Schedule.ScheduleId;
        Extensions.NewtonsoftLog<PanelistModel>(panel);
        Task t = PanelistService.PostPanelistModel(panel);
        await t;
        if(t.Status == TaskStatus.RanToCompletion)
        {
            Extensions.ShowAlert("New panel has been added", MudBlazor.Variant.Filled, Snackbar , Severity.Success);
            UserAccount = new();
            await GetPanels();
        } 
    }
    void Cancel() => MudDialog.Cancel();
}
