@inherits LayoutComponentBase

@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject ILocalStorageService LocalStorageService
@inject AppState AppState

<PageTitle>Paneling System</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<RadzenComponents/>
<RadzenDialog /> 
<div class="page">
    @if (GlobalClass.CurrentUserAccount != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
        <div class="top-row px-4">
            <PersonTemplate Account="GlobalClass.CurrentUserAccount"/>
            <MudIconButton OnClick="()=> ToggleOpen()" Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Small"/>
            <div class="profile-popup">
                <MudPopover Open="@_isOpen" Fixed="true" Class="pa-1 mr-2" TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomRight">
                    <ProfileInformation OnCloseDialog="@ToggleOpen" Account="GlobalClass.CurrentUserAccount"/>
                </MudPopover>
            </div>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
    } else {
        <Login/>
    }
</div>
@code
{
    public bool _isOpen;

    protected override async Task OnInitializedAsync()
    {
        AppState.OnChange += UpdateState;
        await VerifyLogin();
    }
    private async Task VerifyLogin()
    {
        ValueTask<UserAccountModel> account = LocalStorageService.GetItemAsync<UserAccountModel>("Account");
        await account;
        if (account.IsCompletedSuccessfully)
        {
            GlobalClass.CurrentUserAccount = account.Result;
            StateHasChanged();
        }
    }
    private void UpdateState()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }
}
<style>
    .page
    {
        overflow: hidden;
    }
    .profile-popup .mud-popover
    {
        left: 1300px !important;
    }
</style>