@inherits LayoutComponentBase

@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject ILocalStorageService LocalStorageService
@inject AppState AppState

<PageTitle>Paneling System</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<RadzenComponents/>
<RadzenDialog /> 
<div class="page">
    @if (GlobalClass.CurrentUserAccount != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
        <div class="top-row px-4">
            <PersonTemplate Account="GlobalClass.CurrentUserAccount"/>
            <MudIconButton OnClick="()=> ToggleOpen()" Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Small"/>
            <div class="profile-popup">
                <MudPopover Open="@_isOpen" Fixed="true" Class="pa-1 mr-2" TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomRight">
                    <ProfileInformation OnCloseDialog="@ToggleOpen" Account="GlobalClass.CurrentUserAccount"/>
                </MudPopover>
            </div>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
    } else {
        <Login/>
    }
</div>
@code
{
    public bool _isOpen;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await VerifyLogin();
            AppState.OnChange += UpdateState;
        }
    }
    private async Task VerifyLogin()
    {
        try
        {
            ValueTask<UserAccountModel?> account = LocalStorageService.GetItemAsync<UserAccountModel>("Account");
            await account;
            if (account.Result != null)
            {
                Task<UserAccountModel> model = AccountService.GetUserAccountModel(account.Result.UserId);
                await model;
                if(model.Status == TaskStatus.RanToCompletion)
                {
                    GlobalClass.CurrentUserAccount = model.Result;
                    await AppState.NotifyStateChangedAsync();
                    StateHasChanged();
                }
            } else {
                //Console.WriteLine("sadsad");
            }
        } catch(Exception ee)
        {
            Console.WriteLine(ee.Message);
        }
    }
    private void UpdateState()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }
}
<style>
    .page
    {
        overflow: hidden;
    }
    .profile-popup .mud-popover
    {
        left: 1300px !important;
    }
</style>